html,body{height:100%;}

.container.header{
    position:relative;
}

header{
    position:absolute;
    top:20px;
    border-radius:2em;
    width:fit-content;
    padding:0 1em;
    background-color: rgba(8,51,76,0.7);
}

.bg-light{
    opacity:0.5;
}

.hero-banner {
    background: url('../imgs/hero.png') no-repeat center center;
    background-size: cover;
    padding: 60px 0;
    background-position-y: 72%;
    min-height:560px;
}
.navbar-brand{display:none;}
.navbar-light button.navbar-toggler{
    border-color:transparent;
    }
.navbar-light .navbar-nav .nav-link{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: lightsteelblue;
    
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (min-width: 768px){
    
}

@media (max-width: 992px) {
.hero-banner {
    min-height:400px;
}
header{
padding:0;
border-radius:0.4rem;
}
.navbar-toggler:focus{
    box-shadow:none;
}
.navbar-light .navbar-toggler-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.85%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

}

@media (max-width: 768px) {
    
}

@media (min-width: 576px){

}